# Ignorar ambientes virtuais
venv/
.venv/
env/
*venv*/

# Ignorar arquivos temporarios do Python
*.pyc
__pycache__/

.cache/
# downloaded_models/

# Ignorar arquivos de log (se voce gerar)
*.log

# Ignorar dados sensiveis (se houver, como credenciais)
*.env
.env
